body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
}
#myh1{
    font-size: 4rem;
    font-family: "Arial",sans-serif ;
    color: black;
}
#container{
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;
border: 5px solid;
border-radius: 50px;
background-color: white;
}
#display{
font-size: 5rem;
font-family: monospace;
font-weight: bold;
color: hsl(0, 0%, 30%);
text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
margin-bottom: 25px;

}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width:125px;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    color: white;
    transition: background-color 0.5s ease;
    

}
#startbtn{
    background-color: hsl(120, 68%, 54%);
}
#startbtn:hover{
    background-color: hsl(120, 68%, 34%);
}
#stopbtn{
    background-color: rgb(214, 51, 51);
}
#stopbtn:hover{
    background-color: hsl(0, 67%, 42%);
}
#resetbtn{
  background-color: hsl(204, 67%, 52%);
}
#resetbtn:hover{
  background-color: hsl(204, 67%, 42%);
}